<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>EJS Exercise</title>
</head>
<body>
  <h1>Welcome, <%= name %>!</h1>
  <p>Today is <%= date %>.</p>

  <a href="/users">See user list</a><br>
  <a href="/products">See products</a>
</body>
</html>
